.search-main {
  padding-top: 20px;
  padding-left: 20px;
  border-top: 1px solid gray;
}
.search-heading {
  font-size: 22px;
  font-weight: 600;
}
.search-fields {
  margin-top: 20px;
}
.search-label {
  display: inline-block;
  padding-right: 5px;
  font-weight: 600;
  font-size: 20px;
}
.search-select {
  font-size: 20px;
}
.search-projects-container {
  display: table;
  table-layout: fixed;
  /* border: 1px solid darkgray; */
  background-color: #ffffff;
}
.search-proj-td1 {
  display: table-cell;
  /* border: 1px solid red; */
}
.search-proj-td2 {
  display: table-cell;
  width: 100%;
  /* border: 1px solid red; */
}
.search-table {
  display: table;
  table-layout: fixed;
  border: 1px solid #cecece;
}

.search-tr {
  display: table-row;
}
.search-proj-header {
  background-color: darkgray;
}

.search-proj-item {
  display: table-cell;
  white-space: nowrap;
  padding: 6px;
  line-height: initial;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.search-item-link {
  color: rgb(0, 140, 255);
  cursor: pointer;
}
